<div class="container">
  <% hidden = "(Скрытый)" if @question.hidden? %>
  <h2 class="title-lg mb">Вопрос№<%= @question.id %> <%= hidden %></h2>

  <%= render 'question', question: @question %>

  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
