<div class="container mt-sm">
  <p class="text-md">У этого пользователя пока никто ничего не спросил :(</p>
  <%= link_to "Стань первым!", new_question_path(user_id: @user.id), class: "button button-yellow mt-sm" %>
</div>
